<!DOCTYPE html>
<html>
<title>DAI WEBPAGE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#me" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ME</a>
    <a href="#other" class="w3-bar-item w3-button w3-padding-large w3-hide-small">OTHER PROJECTS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="https://http://github.com/terceranexus6/" class="w3-bar-item w3-button">My repos</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#me" class="w3-bar-item w3-button w3-padding-large">ME</a>
  <a href="#other" class="w3-bar-item w3-button w3-padding-large">OTHER PROJECTS</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CONTACT</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="http://iwd.devto.ca/img/logo.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>I like web development!</h3>
      <p><b>I'm into web dev, and I tend to write and read articles in dev.to</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="http://1.bp.blogspot.com/_G3_J_FL9044/Sdgn2wXPk3I/AAAAAAAAASU/sPDNmX3iP08/s400/Tux+and+Gnu.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>I'm into freedom of software</h3>
      <p><b>I think open software enrich society and help thinking in a colaborative way.</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://pbs.twimg.com/media/DNPq4JNX0AEeASY.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>I also enjoy security, and for that I'm studying network system monitoring</h3>
      <p><b>I'd like to work in security.</b></p>
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="me">
    <h2 class="w3-wide">ME</h2>
    <p class="w3-opacity"><i>I like tech!</i></p>
    <p class="w3-justify">I'm a computer engineering student at the university of Granada. I like to read, write and speak about internet censorship, digital rights, internet freedom... I've worked as a programmer in a company and I love to learn new technologies!</p>
  </div>

  <!-- The Tour Section -->
  <div class="w3-black" id="other">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">OTHER PROJECTS</h2>
      <p class="w3-opacity w3-center"><i>I have done other projects! I use to share them on my github.</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">Virtual Infrastructures web<span class="w3-tag w3-red w3-margin-left">vue.js</span></li>
        <li class="w3-padding">Telegram Bot <span class="w3-tag w3-red w3-margin-left">python</span></li>
      </ul>


    </div>
  </div>


  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>My university email is pauladelahoz@correo.ugr.es</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> My telegram is @terceranexus6<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +34 662492323<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Github: Terceranexus6<br>
      </div>

  </div>

<!-- End Page Content -->
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://github.com/terceranexus6" target="_blank">Paula</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
