<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Responsive Contact Form with Map</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>






</head>

<body>
  <div id='browser'>
  <div id='browser-bar'>
    <div class='circles'></div>
    <div class='circles'></div>
    <div class='circles'></div>
    <p>Contact Us</p>
    <span class='arrow entypo-resize-full'></span>
  </div>
  <div id='content'>
    <div id='left'>
      <div id='map'>
        <p>Where To Find Us</p>
        <div class='map-locator'>
          <div class='tooltip'>
            <ul>
              <li>
                <span class='entypo-location'></span>
                <span class='selectedLocation'>Israel</span>
              </li>
              <li>
                <span class='entypo-mail'></span>
                <a href='#'>inversealien@protonmail.com</a>
              </li>
              <li>
                <span class='entypo-phone'></span>
                not yet
              </li>
            </ul>
          </div>
        </div>
        <div class='zoom'></div>
      </div>
      <ul id='location-bar'>
        <li>
          <a class='location' data-location='Israel' href='https://f.cl.ly/items/452R3S1440221Z3m372j/israel.png'>Israel</a>
        </li>
        <li>
          <a class='location' data-location='USA' href='https://f.cl.ly/items/0n0o01382l0p1u271D43/usa.png'>USA</a>
        </li>
        <li>
          <a class='location' data-location='The Netherlands' href='https://f.cl.ly/items/0g0l283X3h1T3H270V0A/netherlands.png'>The Netherlands</a>
        </li>
        <li>
          <a class='location' data-location='Singapore' href='https://f.cl.ly/items/1i2Y262H020X141R3h0k/singapore.png'>Singapore</a>
        </li>
      </ul>
    </div>
    <div id='right'>
      <p>Connect</p>
      <div id='social'>
        <a class='social'>
          <span class='entypo-facebook'></span>
        </a>
        <a class='social'>
          <span class='entypo-twitter'></span>
        </a>
        <a class='social'>
          <span class='entypo-linkedin'></span>
        </a>
        <a class='social'>
          <span class='entypo-gplus'></span>
        </a>
        <a class='social'>
          <span class='entypo-instagrem'></span>
        </a>
      </div>
      <form>
        <p>Get in Contact</p>
        <input placeholder='Email' type='email'>
        <input placeholder='Subject' type='text'>
        <textarea placeholder='Message' rows='4'></textarea>
        <input placeholder='Send' type='submit'>
      </form>
      <p>other way</p>
      <p class='other entypo-mail'>
        <a href='#'>inversealien@protonmail.com</a>
      </p>
      <p class='other entypo-phone'>not yet</p>
    </div>
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script  src="templates/js/index.js"></script>

</body>
</html>
